
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #E8F1E8;
}

::-webkit-scrollbar-thumb {
  background: #3F6C72;
  border-radius: 4px;
}

::-webkit-scrollbar-thumb:hover {
  background: #274B2A;
}

html {
  scroll-behavior: smooth !important;
  scroll-padding-top: 80px;
}

@supports (-webkit-overflow-scrolling: touch) {
  html {
    -webkit-overflow-scrolling: touch;
  }
}
